# SPDX-FileCopyrightText: Copyright (C) 2024-2025 Marek Küthe <m.k@mk16.de>
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
Checks: 'boost-*,bugprone-*,-bugprone-easily-swappable-parameters,cert-*,clang-analyzer-*,clang-diagnostic-*,concurrency-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,misc-*,-misc-include-cleaner,-misc-no-recursion,modernize-*,-modernize-use-trailing-return-type,-modernize-use-auto,performance-*,-performance-avoid-endl,-performance-unnecessary-value-param,-performance-enum-size,portability-*,readability-*,-readability-braces-around-statements,-readability-magic-numbers,-readability-identifier-length,-readability-avoid-const-params-in-decls,-readability-named-parameter,-readability-convert-member-functions-to-static,-readability-function-cognitive-complexity,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-use-default-member-init,-modernize-use-default-member-init,-clang-analyzer-cplusplus.NewDelete,-readability-redundant-member-init'
WarningsAsErrors: '*'
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
SystemHeaders: false
...
