[Unit]
Description=mping-sender
Documentation=https://codeberg.org/mark22k/mping-sender

[Service]
RemoveIPC=true
DynamicUser=true
NoNewPrivileges=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
LockPersonality=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictRealtime=true
ProtectKernelTunables=true
ProtectHostname=true
ProtectHome=true
ProtectProc=ptraceable
ProtectSystem=strict
ProtectClock=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectKernelModules=true
PrivateTmp=true
ProcSubset=pid
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @raw-io @reboot @resources @swap

CapabilityBoundingSet=CAP_SETPCAP
AmbientCapabilities=CAP_SETPCAP

EnvironmentFile=%E/default/mping-sender
ExecStart=/usr/bin/mping-sender --bind-address "$BIND_ADDRESS" --interface-name "$INTERFACE_NAME" "$ARGS"
Restart=on-failure
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
